1. Загрузка данных

In [8]:
# Посмотрим данные датасета

# Загрузим тренировочные данные
import pandas as pd
from pandas.core.interchange.from_dataframe import categorical_column_to_series

from sklearn.preprocessing import StandardScaler
from untitled1.venv.Lib.enum import unique

train_df = pd.read_csv('train.csv')

# Посмотрим на первые 5 строк
print(train_df.head())

# Выведем список всех столбцов
print(train_df.columns)

   id  Marital status  Application mode  Application order  Course  \
0   0               1                 1                  1    9238
1   1               1                17                  1    9238
2   2               1                17                  2    9254
3   3               1                 1                  3    9500
4   4               1                 1                  2    9500

   Daytime/evening attendance  Previous qualification  \
0                           1                       1
1                           1                       1
2                           1                       1
3                           1                       1
4                           1                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                           126.0            1                       1  ...
1                           125.0            1                      19  ...
2                           137.0            1                       3  ...
3                           131.0            1                      19  ...
4                           132.0            1                      19  ...

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0                                    6
1                                    0                                    6
2                                    0                                    6
3                                    0                                    8
4                                    0                                    7

   Curricular units 2nd sem (evaluations)  \
0                                       7
1                                       9
2                                       0
3                                      11
4                                      12

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    6                         12.428571
1                                    0                          0.000000
2                                    0                          0.000000
3                                    7                         12.820000
4                                    6                         12.933333

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               11.1
1                                               0               11.1
2                                               0               16.2
3                                               0               11.1
4                                               0                7.6

   Inflation rate   GDP    Target
0             0.6  2.02  Graduate
1             0.6  2.02   Dropout
2             0.3 -0.92   Dropout
3             0.6  2.02  Enrolled
4             2.6  0.32  Graduate

[5 rows x 38 columns]
Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

2 Предварительный анализ данных

In [9]:
# Посмотрим общую информацию о данных. Типы данных и количество ненулевых значений в каждом столбце

# Посмотрим на первые 5 строк
print(train_df.head())

# Количество строк и столбцов
print(train_df.shape)

# Выведем список всех столбцов
print(train_df.columns)

# Посмотрим на первые 5 строк
print(train_df.head())

 # Информация о типах данных и пропущенных значениях
print(train_df.info())

# Статистика по числовым данным
print(train_df.describe())

# Количество уникальных значений в каждом столбце
unique_counts = train_df.nunique()
print('Количество уникальных значений в каждом столбце:\n', unique_counts)

   id  Marital status  Application mode  Application order  Course  \
0   0               1                 1                  1    9238
1   1               1                17                  1    9238
2   2               1                17                  2    9254
3   3               1                 1                  3    9500
4   4               1                 1                  2    9500

   Daytime/evening attendance  Previous qualification  \
0                           1                       1
1                           1                       1
2                           1                       1
3                           1                       1
4                           1                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                           126.0            1                       1  ...
1                           125.0            1                      19  ...
2                           137.0            1                       3  ...
3                           131.0            1                      19  ...
4                           132.0            1                      19  ...

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0                                    6
1                                    0                                    6
2                                    0                                    6
3                                    0                                    8
4                                    0                                    7

   Curricular units 2nd sem (evaluations)  \
0                                       7
1                                       9
2                                       0
3                                      11
4                                      12

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    6                         12.428571
1                                    0                          0.000000
2                                    0                          0.000000
3                                    7                         12.820000
4                                    6                         12.933333

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               11.1
1                                               0               11.1
2                                               0               16.2
3                                               0               11.1
4                                               0                7.6

   Inflation rate   GDP    Target
0             0.6  2.02  Graduate
1             0.6  2.02   Dropout
2             0.3 -0.92   Dropout
3             0.6  2.02  Enrolled
4             2.6  0.32  Graduate

[5 rows x 38 columns]
(76518, 38)
Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')
   id  Marital status  Application mode  Application order  Course  \
0   0               1                 1                  1    9238
1   1               1                17                  1    9238
2   2               1                17                  2    9254
3   3               1                 1                  3    9500
4   4               1                 1                  2    9500

   Daytime/evening attendance  Previous qualification  \
0                           1                       1
1                           1                       1
2                           1                       1
3                           1                       1
4                           1                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                           126.0            1                       1  ...
1                           125.0            1                      19  ...
2                           137.0            1                       3  ...
3                           131.0            1                      19  ...
4                           132.0            1                      19  ...

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0                                    6
1                                    0                                    6
2                                    0                                    6
3                                    0                                    8
4                                    0                                    7

   Curricular units 2nd sem (evaluations)  \
0                                       7
1                                       9
2                                       0
3                                      11
4                                      12

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    6                         12.428571
1                                    0                          0.000000
2                                    0                          0.000000
3                                    7                         12.820000
4                                    6                         12.933333

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               11.1
1                                               0               11.1
2                                               0               16.2
3                                               0               11.1
4                                               0                7.6

   Inflation rate   GDP    Target
0             0.6  2.02  Graduate
1             0.6  2.02   Dropout
2             0.3 -0.92   Dropout
3             0.6  2.02  Enrolled
4             2.6  0.32  Graduate

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB
None
                 id  Marital status  Application mode  Application order  \
count  76518.000000    76518.000000      76518.000000       76518.000000
mean   38258.500000        1.111934         16.054419           1.644410
std    22088.988286        0.441669         16.682337           1.229645
min        0.000000        1.000000          1.000000           0.000000
25%    19129.250000        1.000000          1.000000           1.000000
50%    38258.500000        1.000000         17.000000           1.000000
75%    57387.750000        1.000000         39.000000           2.000000
max    76517.000000        6.000000         53.000000           9.000000

             Course  Daytime/evening attendance  Previous qualification  \
count  76518.000000                76518.000000            76518.000000
mean    9001.286377                    0.915314                3.658760
std     1803.438531                    0.278416                8.623774
min       33.000000                    0.000000                1.000000
25%     9119.000000                    1.000000                1.000000
50%     9254.000000                    1.000000                1.000000
75%     9670.000000                    1.000000                1.000000
max     9991.000000                    1.000000               43.000000

       Previous qualification (grade)   Nacionality  Mother's qualification  \
count                    76518.000000  76518.000000            76518.000000
mean                       132.378766      1.226600               19.837633
std                         10.995328      3.392183               15.399456
min                         95.000000      1.000000                1.000000
25%                        125.000000      1.000000                1.000000
50%                        133.100000      1.000000               19.000000
75%                        140.000000      1.000000               37.000000
max                        190.000000    109.000000               44.000000

       ...  Curricular units 1st sem (without evaluations)  \
count  ...                                     76518.00000
mean   ...                                         0.05796
std    ...                                         0.40849
min    ...                                         0.00000
25%    ...                                         0.00000
50%    ...                                         0.00000
75%    ...                                         0.00000
max    ...                                        12.00000

       Curricular units 2nd sem (credited)  \
count                         76518.000000
mean                              0.137053
std                               0.933830
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                              19.000000

       Curricular units 2nd sem (enrolled)  \
count                         76518.000000
mean                              5.933414
std                               1.627182
min                               0.000000
25%                               5.000000
50%                               6.000000
75%                               6.000000
max                              23.000000

       Curricular units 2nd sem (evaluations)  \
count                            76518.000000
mean                                 7.234468
std                                  3.503040
min                                  0.000000
25%                                  6.000000
50%                                  7.000000
75%                                  9.000000
max                                 33.000000

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                         76518.000000                      76518.000000
mean                              4.007201                          9.626085
std                               2.772956                          5.546035
min                               0.000000                          0.000000
25%                               1.000000                         10.000000
50%                               5.000000                         12.142857
75%                               6.000000                         13.244048
max                              20.000000                         18.000000

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                    76518.000000       76518.000000
mean                                         0.062443          11.520340
std                                          0.462107           2.653375
min                                          0.000000           7.600000
25%                                          0.000000           9.400000
50%                                          0.000000          11.100000
75%                                          0.000000          12.700000
max                                         12.000000          16.200000

       Inflation rate           GDP
count    76518.000000  76518.000000
mean         1.228218     -0.080921
std          1.398816      2.251382
min         -0.800000     -4.060000
25%          0.300000     -1.700000
50%          1.400000      0.320000
75%          2.600000      1.790000
max          3.700000      3.510000

[8 rows x 37 columns]
Количество уникальных значений в каждом столбце:
 id                                                76518
Marital status                                        6
Application mode                                     22
Application order                                     8
Course                                               19
Daytime/evening attendance                            2
Previous qualification                               21
Previous qualification (grade)                      110
Nacionality                                          18
Mother's qualification                               35
Father's qualification                               39
Mother's occupation                                  40
Father's occupation                                  56
Admission grade                                     668
Displaced                                             2
Educational special needs                             2
Debtor                                                2
Tuition fees up to date                               2
Gender                                                2
Scholarship holder                                    2
Age at enrollment                                    46
International                                         2
Curricular units 1st sem (credited)                  21
Curricular units 1st sem (enrolled)                  24
Curricular units 1st sem (evaluations)               36
Curricular units 1st sem (approved)                  23
Curricular units 1st sem (grade)                   1206
Curricular units 1st sem (without evaluations)       12
Curricular units 2nd sem (credited)                  20
Curricular units 2nd sem (enrolled)                  22
Curricular units 2nd sem (evaluations)               31
Curricular units 2nd sem (approved)                  21
Curricular units 2nd sem (grade)                   1234
Curricular units 2nd sem (without evaluations)       11
Unemployment rate                                    11
Inflation rate                                       13
GDP                                                  11
Target                                                3
dtype: int64

Выявим пропуски данных

In [10]:
# Количество пропущенных значений в каждом столбце
print(train_df.isnull().sum())

id                                                0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

Выявим категориальные признаки

In [11]:
# Проверим какие столбцы являются категориальными
print(train_df.dtypes)

# Выберем столбцы с типами данных object, которые обычно представляют категориальные признаки
categorical_cols = train_df.select_dtypes(include=[object])

id                                                  int64
Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Преобразование категориальных данных

In [12]:
from sklearn.preprocessing import LabelEncoder

# Инициализируем кодировщик
label_encoder = LabelEncoder()

# Применим к категориальному столбцу
train_df['Target_encoded'] = label_encoder.fit_transform(train_df['Target'])
print(train_df[['Target', 'Target_encoded']].head())

     Target  Target_encoded
0  Graduate               2
1   Dropout               0
2   Dropout               0
3  Enrolled               1
4  Graduate               2

Нормирование данных методом  нормализации Min-Max

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
train_df[['Target_encoded']] = scaler.fit_transform(train_df[['Target_encoded']])
print(train_df.head())
# Проверка на нормализацию (для Min-Max Scaling должны быть значения от 0 до 1)
print(train_df[['Target_encoded']].min())  # Ожидаем 0
print(train_df[['Target_encoded']].max())  # Ожидаем 1

# Выводим первые строки, чтобы увидеть результат
print(train_df[['Target', 'Target_encoded']].head())

   id  Marital status  Application mode  Application order  Course  \
0   0               1                 1                  1    9238
1   1               1                17                  1    9238
2   2               1                17                  2    9254
3   3               1                 1                  3    9500
4   4               1                 1                  2    9500

   Daytime/evening attendance  Previous qualification  \
0                           1                       1
1                           1                       1
2                           1                       1
3                           1                       1
4                           1                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                           126.0            1                       1  ...
1                           125.0            1                      19  ...
2                           137.0            1                       3  ...
3                           131.0            1                      19  ...
4                           132.0            1                      19  ...

   Curricular units 2nd sem (enrolled)  \
0                                    6
1                                    6
2                                    6
3                                    8
4                                    7

   Curricular units 2nd sem (evaluations)  \
0                                       7
1                                       9
2                                       0
3                                      11
4                                      12

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    6                         12.428571
1                                    0                          0.000000
2                                    0                          0.000000
3                                    7                         12.820000
4                                    6                         12.933333

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               11.1
1                                               0               11.1
2                                               0               16.2
3                                               0               11.1
4                                               0                7.6

   Inflation rate   GDP    Target  Target_encoded
0             0.6  2.02  Graduate             1.0
1             0.6  2.02   Dropout             0.0
2             0.3 -0.92   Dropout             0.0
3             0.6  2.02  Enrolled             0.5
4             2.6  0.32  Graduate             1.0

[5 rows x 39 columns]
Target_encoded    0.0
dtype: float64
Target_encoded    1.0
dtype: float64
     Target  Target_encoded
0  Graduate             1.0
1   Dropout             0.0
2   Dropout             0.0
3  Enrolled             0.5
4  Graduate             1.0